<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <servlet-class>view.UsernameTableViewNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerTableViewNormal</servlet-name>
        <servlet-class>view.PlayerTableViewNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreTableViewNormal</servlet-name>
        <servlet-class>view.ScoreTableViewNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlayer</servlet-name>
        <servlet-class>view.CreatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScore</servlet-name>
        <servlet-class>view.CreateScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <url-pattern>/UsernameTableViewNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerTableViewNormal</servlet-name>
        <url-pattern>/PlayerTableViewNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreTableViewNormal</servlet-name>
        <url-pattern>/ScoreTableViewNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlayer</servlet-name>
        <url-pattern>/CreatePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScore</servlet-name>
        <url-pattern>/CreateScore</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>ScoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
        <persistence-unit-name>JPA-Tomcat-ScoreDB</persistence-unit-name>
    </persistence-context-ref>
</web-app>
